@font-face {
    font-family: 'OPTICopperplate';
    src: url('../font/OPTICopperplate.woff2') format('woff2'),
        url('../font/OPTICopperplate.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OPTICopperplate';
    src: url('../font/OPTICopperplate-Light.woff2') format('woff2'),
        url('../font/OPTICopperplate-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OPTICopperplate';
    src: url('../font/OPTICopperplate-Heavy.woff2') format('woff2'),
        url('../font/OPTICopperplate-Heavy.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

